<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aatesting.bugtracker">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
            android:name="com.aatesting.bugtracker.activities.MainActivity"
            android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aatesting.bugtracker.activities.ProjectCreateActivity"/>
        <activity android:name="com.aatesting.bugtracker.activities.ProjectCreateTableEditTaskActivity"/>
        <activity android:name="com.aatesting.bugtracker.activities.ProjectCreateTableEditDescriptionActivity"/>
        <activity android:name="com.aatesting.bugtracker.activities.RoadmapCreateEpicActivity"/>
        <activity android:name="com.aatesting.bugtracker.activities.CreateTaskActivity"/>
        <activity android:name=".activities.RoadmapEditEpicActivity"/>
        <activity android:name=".activities.ProjectsMainActivity"/>
    </application>

</manifest>